html, body {
  background-color: #2f4f30;
  color: white;
  margin: 0px;
}
.titulo {
  background-color: black;
  color:white; 
  font-size: 25px;
  padding: 20px;
  text-align: center;
}

.carta {
  left: 100px;
  margin-left: -75px;
  position: relative;
  width: 120px;
}

#computadora-cartas, #jugador-cartas {
  height: 220px;
}